{{ define "title" }}{{ .Content.Title }} - {{ .Config.Title }}{{ end }}

{{ define "extra_head" -}}
<style type="text/css">
  .card-content th {
    white-space: nowrap;
  }
  .card-content pre {
    background-color: var(--bulma-background) !important;
  }
</style>
{{- end }}

{{ define "cdocs-includes" -}}
{{ if . -}}
<pre>{{ range $i, $v := . }}
  {{- if $i }}
{{ end -}}
{{ $v }}{{ end -}}
</pre>
{{- end }}
{{- end }}

{{ define "cdocs-entry" -}}
<div id="{{ .ID }}" class="card">
  <header class="card-header">
    <a id="{{ .ID }}" href="{{ .Link }}"><p class="card-header-title">{{ .Type }} <code>{{ .Name }}</code></p></a>
  </header>
  <div class="card-content">
    {{ .Proto }}
    {{ .Description }}
  </div>
</div>
{{- end }}

{{ define "main" -}}
<article>
  <h1 class="mb-5">{{ .Content.Title }}</h1>
  <div class="message is-dark is-small is-hidden-tablet">
    <div class="message-body">
      This page is best viewed on a larger screen.
    </div>
  </div>
  {{- range .Content.Entry.CDocs.Headers }}
  <div class="box">
    <h2 id="{{ .ID }}">Header: {{ .Name }}</h2>
    {{ .Description}}
    <h3>Included Headers</h3>
    {{ template "cdocs-includes" .Includes }}
    {{ range .Sections -}}
    <h3 id="{{ .ID }}">{{ .Name }}</h3>
    {{ .Description }}
    {{- range .Structs }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- range .Enums }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- range .Defines }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- range .Functions }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- range .FunctionTypes }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
    {{- if .Structs }}
    <h3 id="struct-{{ .ID }}">Struct Definitions</h3>
    {{- range .Structs }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
    {{- if .Enums }}
    <h3 id="enum-{{ .ID }}">Enumeration Definitions</h3>
    {{- range .Enums }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
    {{- if .Defines }}
    <h3 id="define-{{ .ID }}">Macro Definitions</h3>
    {{- range .Defines }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
    {{- if .Functions }}
    <h3 id="function-{{ .ID }}">Function Definitions</h3>
    {{- range .Functions }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
    {{- if .FunctionTypes }}
    <h3 id="functiontype-{{ .ID }}">Function Type Definitions</h3>
    {{- range .FunctionTypes }}
    {{ template "cdocs-entry" . }}
    {{- end }}
    {{- end }}
  </div>
  {{- end }}
</article>
{{- end }}

{{ define "sidebar" -}}
<aside class="menu">
  <p class="menu-label">Table of Contents</p>
  <ul class="menu-list">
    {{- range .Content.Entry.CDocs.Headers }}
    <li>
      <a class="has-text-weight-bold" href="#{{ .ID }}">Header: {{ .Name }}</a>
      <ul>
        {{ range .Sections -}}
        <li><a href="#{{ .ID }}">{{ .Name }}</a></li>
        {{- end }}
        {{- if .Structs }}
        <li><a href="#struct-{{ .ID }}">Struct Definitions</a></li>
        {{- end }}
        {{- if .Enums }}
        <li><a href="#enum-{{ .ID }}">Enumeration Definitions</a></li>
        {{- end }}
        {{- if .Defines }}
        <li><a href="#define-{{ .ID }}">Macro Definitions</a></li>
        {{- end }}
        {{- if .Functions }}
        <li><a href="#function-{{ .ID }}">Function Definitions</a></li>
        {{- end }}
        {{- if .FunctionTypes }}
        <li><a href="#functiontype-{{ .ID }}">Function Type Definitions</a></li>
        {{- end }}
      </ul>
    </li>
    {{- end }}
  </ul>
</aside>
<div class="has-text-centered is-size-7">
  <strong class="has-text-grey-light">Updated:</strong>
  <time class="has-text-grey-light">{{ .Content.Entry.CDocs.Date.Format "2006-01-02 15:04:05" }} UTC</time>
</div>
{{- end }}
