{{ define "main" -}}
<article>
  <h1 class="title is-3">{{ required .Content.Entry.Title }}</h1>
  <section class="content">
{{ .Content.Entry.Body }}
  </section>
  {{- if .Content.Entry.Post }}
  <section class="has-text-grey-light mt-6">
    Published by {{ if .Content.Entry.Post.Author.Name }}{{ .Content.Entry.Post.Author.Name }}{{
      else }}{{ .Config.Author.Name }}{{ end }} on <time datetime="{{
      .Content.Entry.Post.Published.Format "2006-01-02T15:04:05Z" }}">{{
      .Content.Entry.Post.Published.Format "January 02, 2006" }}</time>{{
      if not .Content.Entry.Post.Updated.IsZero }} and modified on <time datetime="{{
      .Content.Entry.Post.Updated.Format "2006-01-02T15:04:05Z" }}">{{
      .Content.Entry.Post.Updated.Format "January 02, 2006" }}</time>{{ end }}.
  </section>
  {{- end }}
</article>
{{- end }}
