{{ define "title" }}{{ required .Content.Title }} - {{ required .Config.Title }}{{ end }}

{{ define "main" -}}
<article>
  <h1 class="mb-5">{{ required .Content.Title }}</h1>
  {{- if .Content.Description }}
  <div class="notification">
{{ template "pagination_description" . }}
    <a class="button is-small" href="{{ requiredAttr .Content.Pagination.AtomURL }}">
      <i class="fa-solid fa-rss mr-2" aria-hidden="true"></i>
      Atom feed
    </a>
  </div>
  {{- else }}
  <div class="block">
    <a class="button is-small" href="{{ requiredAttr .Content.Pagination.AtomURL }}">
      <i class="fa-solid fa-rss mr-2" aria-hidden="true"></i>
      Atom feed
    </a>
  </div>
  {{- end }}
  <dl class="mb-6">
    {{- range .Content.Entries }}
    <dt class="is-size-4 has-text-weight-bold">
      <a class="has-text-link-dark" href="{{ requiredAttr .URL }}">
        {{ required .Title }}
      </a>
    </dt>
    {{- if .Post }}
    <dd class="mb-4 is-size-5">
      <time datetime="{{ .Post.Published.Format "2006-01-02T15:04:05Z" }}">{{ .Post.Published.Format "January 02, 2006" }}</time>
    </dd>
    {{- end }}
    {{- else }}
    <dt class="is-size-4 has-text-weight-bold">No posts available yet!</dt>
    {{- end }}
  </dl>
  {{- if .Content.Pagination.Enabled }}
  <nav class="pagination" role="navigation" aria-label="pagination">
    <a{{ if .Content.Pagination.LinkPrevious }} href="{{ requiredAttr .Content.Pagination.LinkPrevious }}"{{ end }} class="pagination-previous{{ if not .Content.Pagination.LinkPrevious }} is-disabled{{ end }}">Previous</a>
    <a{{ if .Content.Pagination.LinkNext }} href="{{ requiredAttr .Content.Pagination.LinkNext }}"{{ end }} class="pagination-next{{ if not .Content.Pagination.LinkNext }} is-disabled{{ end }}">Next</a>
  </nav>
  {{- end }}
</article>
{{- end }}

{{ define "pagination_description" -}}
{{- if .Content.Description }}
<p>{{ .Content.Description }}</p>
{{- end }}
{{- end }}
