{{ define "title" }}{{ required .Content.Title }} - {{ required .Config.Title }}{{ end }}

{{ define "extra_head" -}}
<link href="/assets/github-markdown-css/github-markdown-light.min.css" rel="stylesheet" type="text/css">
<style type="text/css">
  .markdown-body {
    font-family: var(--bulma-body-family);
  }
  .markdown-body h1, .markdown-body h2, .markdown-body h3, .markdown-body h4, .markdown-body h5, .markdown-body h6 {
    font-weight: var(--bulma-weight-extrabold);
  }
  .markdown-body code, .markdown-body kbd, .markdown-body pre, .markdown-body samp {
    font-weight: var(--bulma-code-weight);
  }
  .markdown-body ul {
    padding-left: 0;
  }
  .markdown-alert {
    padding: var(--bulma-size-normal) !important;
  }
</style>
{{- if .Content.Entry.Project.GoImport }}
<meta name="go-import" content="{{ requiredAttr .Content.Entry.Project.GoImport }} git https://github.com/{{ requiredAttr .Content.Entry.Project.Owner }}/{{ if .Content.Entry.Project.GoRepo }}{{ requiredAttr .Content.Entry.Project.GoRepo }}{{ else }}{{ requiredAttr .Content.Entry.Project.Repo }}{{ end }}.git">
{{- end }}
{{- end }}

{{ define "main" -}}
<article class="anchor markdown-body">
  <h1 class="title">{{ required .Content.Entry.Title }}</h1>
{{ .Content.Entry.Body }}
</article>
{{- if .Content.Entry.Project.LatestRelease }}
<article class="anchor markdown-body mt-6">
  <h1 class="title"><i class="fas fa-sm fa-rocket"></i> {{ .Content.Entry.Project.LatestRelease.Name }}</h1>
{{ .Content.Entry.Project.LatestRelease.Body }}
</article>
{{- end }}
{{- end }}

{{ define "sidebar" -}}
<div class="notification has-text-centered">
  <span class="icon">
    <i class="fas fa-lg fa-brands fa-github"></i>
  </span>
  <a href="https://github.com/{{ requiredAttr .Content.Entry.Project.Owner }}/{{ requiredAttr .Content.Entry.Project.Repo }}">
    <strong>{{ required .Content.Entry.Project.Owner }}/{{ required .Content.Entry.Project.Repo }}</strong>
  </a>
</div>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">Project Metadata</th>
    </tr>
  </thead>
  <tbody>
    {{- if .Content.Entry.Project.URL }}
    <tr>
      <th>Website:</th>
      <td>
        <a href="{{ requiredAttr .Content.Entry.Project.URL }}">{{ .Content.Entry.Project.URL }}</a>
      </td>
    </tr>
    {{- end }}
    <tr>
      {{- if .Content.Entry.Project.License.SPDX }}
      <th>Main License:</th>
      <td>
        <a href="https://spdx.org/licenses/{{ requiredAttr .Content.Entry.Project.License.SPDX }}.html">{{ .Content.Entry.Project.License.SPDX }}</a>
      </td>
      {{- else }}
      <th>License:</th>
      <td>
        <a href="{{ requiredAttr .Content.Entry.Project.License.URL }}">Link</a>
      </td>
      {{- end }}
    </tr>
  </tbody>
</table>
{{- if .Content.Entry.Project.DocLinks }}
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">Project Documentation</th>
    </tr>
  </thead>
  <tbody>
    {{- range .Content.Entry.Project.DocLinks }}
    <tr>
      <th style="width: 48px;"><span class="icon"><i class="fas {{ requiredAttr .Icon }}"></i></span></th>
      <td>
        <a href="{{ requiredAttr .URL }}">{{ required .Label }}</a>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- end }}
{{- if or .Content.Entry.Project.GoImport .Content.Entry.Project.CDocsURL }}
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">API Documentation</th>
    </tr>
  </thead>
  <tbody>
    {{- if .Content.Entry.Project.CDocsURL }}
    <tr>
      <th style="width: 48px;"><span class="icon"><i class="fas fa-book"></i></span></th>
      <td>
        <a href="{{ requiredAttr .Content.Entry.Project.CDocsURL }}">C API Documentation</a>
      </td>
    </tr>
    {{- end }}
    {{- if .Content.Entry.Project.GoImport }}
    <tr>
      <th style="width: 48px;"><span class="icon"><i class="fas fa-brands fa-golang"></i></span></th>
      <td>
        <a href="https://pkg.go.dev/{{ requiredAttr .Content.Entry.Project.GoImport }}">{{ .Content.Entry.Project.GoImport }}</a>
      </td>
    </tr>
    {{- end }}
  </tbody>
</table>
{{- end }}
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">Project Statistics</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><span class="icon"><i class="fa-regular fa-star"></i></span> Stars:</th>
      <td>{{ .Content.Entry.Project.Stars }}</td>
    </tr>
    <tr>
      <th><span class="icon"><i class="fa-regular fa-eye"></i></span> Watching:</th>
      <td>{{ .Content.Entry.Project.Watching }}</td>
    </tr>
    <tr>
      <th><span class="icon"><i class="fa-solid fa-code-fork"></i></span> Forks:</th>
      <td>{{ .Content.Entry.Project.Forks }}</td>
    </tr>
  </tbody>
  {{- if not .Content.Entry.Project.LatestRelease }}
  <tfoot>
    <tr>
      <td colspan="2" class="has-text-centered is-size-7">
        <strong class="has-text-grey-light">Updated:</strong>
        <time class="has-text-grey-light">{{ .Content.Entry.Project.Date.Format "2006-01-02 15:04:05" }} UTC</time>
      </td>
    </tr>
  </tfoot>
  {{- end }}
</table>
{{- if .Content.Entry.Project.LatestRelease }}
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th colspan="2" class="has-text-centered">Latest Release</th>
    </tr>
  </thead>
  <tbody>
    {{- if eq .Content.Entry.Project.LatestRelease.Name .Content.Entry.Project.LatestRelease.Tag }}
    <tr>
      <td colspan="2">
        <span class="icon"><i class="fas fa-rocket"></i></span>
        <a href="{{ requiredAttr .Content.Entry.Project.LatestRelease.URL }}">{{ required .Content.Entry.Project.LatestRelease.Name }}</a>
      </td>
    </tr>
    {{- else }}
    <tr>
      <td>
        <span class="icon"><i class="fas fa-rocket"></i></span>
        <a href="{{ requiredAttr .Content.Entry.Project.LatestRelease.URL }}">{{ required .Content.Entry.Project.LatestRelease.Name }}</a>
      </td>
      <td>{{ required .Content.Entry.Project.LatestRelease.Tag }}</td>
    </tr>
    {{- end }}
    {{- if .Content.Entry.Project.LatestRelease.Files }}
    <tr>
      <th colspan="2" class="has-text-centered">Files</th>
    </tr>
    {{- end }}
    {{- range .Content.Entry.Project.LatestRelease.Files }}
    <tr>
      <td colspan="2">
        <span class="icon"><i class="fa-solid fa-box-archive"></i></span>
        <a href="{{ requiredAttr .URL }}">{{ required .File }}</a>
      </td>
    </tr>
    {{- end }}
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="has-text-centered is-size-7">
        <strong class="has-text-grey-light">Updated:</strong>
        <time class="has-text-grey-light">{{ .Content.Entry.Project.Date.Format "2006-01-02 15:04:05" }} UTC</time>
      </td>
    </tr>
  </tfoot>
</table>
{{- end }}
{{- end }}
