:root {
  --bulma-body-family: "Atkinson Hyperlegible Next Variable", sans-serif;
  --bulma-code-family: "Atkinson Hyperlegible Mono Variable", monospace;
}

.title, .subtitle {
  --bulma-title-size: var(--bulma-size-4) !important;
}

.navbar {
  --bulma-navbar-burger-color: var(--bulma-navbar-item-color);
}

html {
  -moz-osx-font-smoothing: auto !important;
  -webkit-font-smoothing: auto !important;
  text-rendering: auto !important;
}

.admonition {
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}

.admonition .admonition-title {
  font-weight: var(--bulma-weight-semibold);
  display: flex;
  align-items: center;
}

.admonition .admonition-title i {
  margin-right: 0.5rem;
}

.admonition.admonition-note {
  border-left: .25em solid var(--bulma-info);
}

.admonition.admonition-tip {
  border-left: .25em solid var(--bulma-success);
}

.admonition.admonition-important {
  border-left: .25em solid var(--bulma-link);
}

.admonition.admonition-warning {
  border-left: .25em solid var(--bulma-warning);
}

.admonition.admonition-caution {
  border-left: .25em solid var(--bulma-danger);
}

.admonition.admonition-note .admonition-title {
  color: var(--bulma-info);
}

.admonition.admonition-tip .admonition-title {
  color: var(--bulma-success);
}

.admonition.admonition-important .admonition-title {
  color: var(--bulma-link);
}

.admonition.admonition-warning .admonition-title {
  color: var(--bulma-warning);
}

.admonition.admonition-caution .admonition-title {
  color: var(--bulma-danger);
}

.spoiler, .spoiler > * {
  transition: color 0.5s, opacity 0.5s;
}

.spoiler:not(:hover) {
  color: transparent;
  background-color: var(--bulma-text);
}

.spoiler:not(:hover) > * {
  opacity: 0;
}
